.calendar {
  display: flex;
  flex-direction: row;
}

.month {
  margin: 10px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}

.between-dates {
  background-color: red;
  border: 1px solid #ccc;
}
